@import url(reset.css);
@import url(variaveis.css);
@import url(contato.css);
@import url(footer.css);
@import url(responsivo.css);

body {
    font-family: var(--fonte-geral);
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.logo {
    width: 6rem;
}

.imagem-banner {
    height: 10rem;
    width: 100%;
}

.icones {
    width: 20px;
    margin-left: 1.5rem;
}

.icones:first-child{
    margin-left: 0;
}

.banner {
    width: 100%;
}

.detalhes-produtos {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    border-bottom: 1px solid #A5A1A1;
}

.promocao {
    font-weight: bold;
    font-size: .9rem;
}

.quantidade-produtos {
    font-size: .8rem;
}

.imagem-produto {
    width: 126px;
    height: 126px;
    margin-bottom: 5.6px ;
}

.produto-titulo {
    font-size: 12px;
    margin-bottom: 8.5px;
}

.produto-valor {
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 600;
}
.cor-valor {
    color: var(--verde);
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 28px 32px 80px 32px;
}


@media screen and (min-width: 1440px){
    .main-header {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .banner .imagem-banner {
        height:375px;
    }

    .contato {
        display: flex;
        justify-content: space-between;
    }
    
    .produtos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}