@media screen and (min-width: 1440px){
    .main-header {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .banner .imagem-banner {
        height:375px;
    }

    .contato {
        display: flex;
        justify-content: space-between;
    }
}